# Files and directories created by pub
.packages
.dart_tool
build

# (Remove this pattern if you wish to check in your lock file)
pubspec.lock

# Directory created by dartdoc
doc/api/

# Directories created by dart_dev
coverage/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

abide.json